        /* Gaya untuk scrollbar di sidebar */
        .sidebar::-webkit-scrollbar {
            width: 6px;
            /* Membuat scrollbar lebih tipis */
        }

        .sidebar::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            /* Warna scrollbar */
            border-radius: 3px;
            /* Membuat scrollbar lebih bulat */
        }

        .sidebar::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
            /* Warna track scrollbar */
            border-radius: 3px;
            /* Membuat track lebih bulat */
        }

        /* Menambahkan transisi pada scrollbar */
        .sidebar::-webkit-scrollbar {
            transition: all 0.3s ease;
        }

        .sidebar::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.4);
            /* Mengubah warna scrollbar saat hover */
        }